* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

.personalInfo {
  line-height: -1px;
  margin-top: 80px;
  text-align: center;
}

img {
  margin: 10px;
  border-radius: 19%;
  width: 150px;
  height: 150px;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

.info1 {
  flex: 1 0 300px;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 55px;
}

.info2 {
  flex: 1 0 300px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background-color: #d0cccc;
}

#connection {
  text-align: center;
}

@media (max-width: 768px) {
  .info1 {
    flex: 1 0 100%;
  }
  .info2 {
    flex: 1 0 100%;
  }
}
